@forward "bootstrap/scss/bootstrap";

.page-enter-active,
.page-leave-active {
  transition: all 0.1s;
}
.page-enter-from,
.page-leave-to {
  opacity: 0;
  filter: blur(0.5rem);
}

table,
th,
td {
  border: 1px double;
}

h3 {
  text-align: center;
}

table {
  width: 100%;
  display: table;
  border-collapse: separate;
  box-sizing: border-box;
  text-indent: initial;
  border-spacing: 2px;
  text-align: center;
}

#form {
  padding: 1rem;
  margin-bottom: 5rem;
}

footer {
  background-color: var(--bs-body-bg);
}

.center-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.image-inner {
  object-fit: scale-down;
}

.large-size {
  width: 256px;
  height: 256px;
}

.small-size {
  width: 64px;
  height: 64px;
}

.tarot-card-size {
  height: 80px;
  width: 50px;
}

.image-inner.img-trait {
  background-color: black;
}

/* 
  1. Use the same color as modal.
  2. Ensure that the sticky layer is above the modal content.
*/

/* Header fixed to the top of the modal */
.modal-header--sticky {
  position: sticky;
  top: 0;
  background-color: inherit; /* [1] */
  z-index: 1055; /* [2] */
}

/* Footer fixed to the bottom of the modal */
.modal-footer--sticky {
  position: sticky;
  bottom: 0;
  background-color: inherit; /* [1] */
  z-index: 1055; /* [2] */
}